<content class="glass-parent" style="max-width:800px;">
    <form class="glass" method="post">
        <h2 style="text-align:center;">프로젝트 정보 변경</h2>
        <div class="wrapper">
            <fieldset>
                <div class="flex-mode">
                    <input type="text" name="projectName" placeholder="프로젝트 제목" required value="<%= data.project.name %>">
                </div>
                <div class="flex-mode">
                    <textarea name="projectDesc" style="min-height:7rem;" placeholder="설명을 입력하세요"><%= data.project.desc %></textarea>
                </div>
            </fieldset>
            <fieldset class="upper-line">
                <legend>프로젝트 만료일</legend>
                <input type="date" name="projectDeadline" value="<%= data.project.deadline.toLocaleString().split('. ').slice(0,3).join('-') %>" required>
            </fieldset>
            <fieldset class="language-field upper-line">
                <legend>사용할 언어/스택</legend>
                <% data.language.forEach(lang =>{ %>
                    <div>
                        <input type="checkbox" name="language[]" id="language-<%= lang.id %>" value="<%= lang.id %>" <%= lang.checked ? 'checked' : '' %>>
                        <label class="language" for="language-<%= lang.id %>"><%= lang.value %></label>
                    </div>
                <% }) %>
            </fieldset>
            <fieldset class="upper-line">
                <input type="hidden" name="projectid" value="<%= data.project.id %>">
                <input type="submit" class="button" value="업데이트">
            </fieldset>
        </div>
    </form>
</content>