<script type="text/javascript">
    function invite(){
        fetch('/api/project/invite', {
            method:'POST',
            headers: {
                'Content-Type':'application/json',
            },
            body:JSON.stringify({
                projectid:<%= data.project.id %>
            })
        }).then(response =>{
            return response.json();
        }).then(result=>{
            alert(result.value);
            if(result.success) location.reload();
            
        });
    }

</script>
<% let isParticipation = false; %>
<content id="project-detail" class="glass-parent">
    <% if(data.project == null){ %>
        <div class="glass" colspan="max">
            <p>존재하지 않는 프로젝트입니다.</p>
        </div>
    <% }else { %>
        <div class="glass title-area" colspan="max">
            <div class="wrapper">
                <p class="title"><%= data.project.name %></p>
            </div>
        </div>
        
        <div class="glass">
            <div class="wrapper">
                <p class="project-subtitle">만료일</p>
                <p class="project-date"><%= data.project.deadline.toLocaleString() %></p>
            </div>
        </div>

        <div class="glass">
            <div class="wrapper">
                <p class="project-subtitle">프로젝트 설명</p>
                <div class="project-desc"><%= data.project.desc %></div>
            </div>
        </div>

        <div class="glass">
            <div class="wrapper">
                <p class="project-subtitle">프로젝트에서 사용하는 언어/스택</p>
                <div class="language-area">
                    <% if(data.project.langlist.length == 0) { %>
                        <span class="language">아직 설정한 언어/스택이 없습니다.</span>
                    <% } else { %>
                        <% data.project.langlist.forEach( lang =>{ %>
                            <span class="language"><%= lang.value %></span>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="glass" colspan="max">
            <div class="wrapper" id="userlist">
                <p class="project-subtitle">참여하는 사람</p>
                <div class="user-area">
                    <% data.project.userlist.forEach( projUser =>{ %>
                        <% if(projUser.id == data.user.id) isParticipation = true; %>
                        <div class="user" onclick="location.href = `/users/profile?userid=<%= projUser.id %>`;">
                            <p class="user-name"><%= (projUser.id == data.project.leaderid) ? '팀장 ' : '' %><%= projUser.name %> <br><span class="user-loginid">- <%= projUser.userid %> -</span></p>
                            <% if(projUser.descritpion != null){ %>
                                <div class="upperLine">
                                    <p class="user-descript"><%= projUser.descritpion.substring(0,30) %></p>
                                </div>
                            <% } %>
                        </div>
                    <% }); %>

                </div>
            </div>
        </div>
        <% if(!isParticipation){ %>
            <div class="glass">
                <div class="wrapper">
                    <p class="project-subtitle">Invite</p>
                    <button class='invite' onclick="invite()">프로젝트 참여하기</button>
                </div>
            </div>
        <% } %>
        <% if(data.project.leaderid == data.user.id){ %>
            <div class="glass">
                <div class="wrapper">
                    <p class="project-subtitle">프로젝트 수정</p>
                    <button class="modify" onclick="location.href = `/project/modify?projectid=<%= data.project.id %>`;">수정하러 가기</button>
                </div>
            </div>
        <% } %>
    <% } %>

</content>
<script type="text/javascript">
    let gridID = 'project-detail';

    window.addEventListener('load', () => {
        setColSpan(gridID);
        setGridColItem(gridID);
    });
    window.addEventListener('resize', () => {
        setColSpan(gridID);
        setGridColItem(gridID);
    });
</script>