<div class="glass-parent content-area" id="main-grid">
    <div class="glass project-list">
        <div>
            <h3>최근 생성된 프로젝트</h3>
            <% if(recentProject.length) { %> 
                <ul>
                    <% for(let proj of recentProject){  %>
                        <li title="<%= proj.name %>"><a href="/project?projectid=<%= proj.id %>"><%= proj.name %></a></li>
                    <% } %>
                </ul>
            <% } else { %>
                <p>아직 생성된 프로젝트가 없습니다.</p>
            <% } %>
        </div>
    </div>
    <div class="glass project-list">
        <div>
            <h3>내가 참여중인 프로젝트</h3>
            <% if(myProject.length){ %>
                <ul>
                    <% for(let proj of myProject){ %>
                        <li title="<%= proj.name %>"><a href="/project?projectid=<%= proj.id %>"><%= proj.id %></a></li>
                    <% } %>
                        <li><a href="/project/list?type=my">내가 참여중인 모든 프로젝트 보기</a></li>
                </ul>
            <% } else { %>
                <p>아직 참여중인 프로젝트가 없습니다.</p>
            <% } %>
        </div>
    </div>
    <div class="glass">
        <div>
            <h3>작업할 내용</h3>
            <% if(todo.length){ %>
                <ul>
                    <% for(let todoItem of todo){ %>
                        <li title="<%= todoItem.todo %>"><a href="/todo/list#todo-<%= todoItem.id %>"><%= todoItem.todo %><br> ~ <%= todoItem.deadline.toLocaleString() %></a></li>
                    <% } %>
                </ul>
                <p style="text-align: right;"><a href="/todo/list">모든 작업 목록 보기</a></p>
            <% } %>
        </div>
    </div>
</div>

<script type='text/javascript'>
    function setGridItem(){
        let grid = document.querySelector('#main-grid');
        let rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
        let rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));

        let rem = parseInt(getComputedStyle(document.body).getPropertyValue('font-size'));
        let itemHeight;
        for(let item of grid.children){
            itemHeight = 0;
            if(item.childElementCount){
                itemHeight = parseInt(item.lastElementChild.offsetHeight) / rem / 2;
                gap = 2;
            }
            item.style.gridRowEnd = `span ${Math.round(itemHeight + gap)}`;
        }
    }
    window.addEventListener('load', setGridItem);
    window.addEventListener('resize', setGridItem);
    setGridItem();
</script>